@(pagename:String,user: models.users.User)(content:Html)
<!DOCTYPE html>
<html>
    <head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="UTF-8"/>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<style>
	    .footer { font-weight: bold; color: white; background-color: steelblue; }
		.navbar-default { font-weight: bold; color: white; border: steelblue;  background-color: steelblue; }
	</style>
	<title>GRP.ie @pagename</title>
    </head>
    <body>
	<nav class="navbar-default">
	    <div class="container-fluid">
			<a class="navbar-brand" href="#">Grp Electrical</a>
			
		</div>
		<ul class="nav navbar-nav">
            <li @if(pagename == "Home") {class="active"}><a href="@routes.HomeController.index()">Home</a></li>
		    <li @if(pagename == "Products") {class="active"}><a href="@routes.HomeController.onsale()">Products</a></li>
			<li @if(pagename == "fillForm") {class="active"}><a href="@routes.HomeController.fillForm()">Contact Us</a></li>
			<li @if(pagename == "Register") {class="active"}><a href="@routes.LoginController.registerUser()">Register user</a></li>
			@if((user != null) && ("admin".equals(user.getRole()))) {
				<li @if(pagename == "Administrators") {class="active"}><a href="@routes.HomeController.usersAdmin()">View Admin</a></li>
				<li @if(pagename == "Customers") {class="active"}><a href="@routes.HomeController.usersCustomer()">View Manager</a></li>

			}


			
			
			
			<li @if(pagename == "Log In") {class="active"}>
				@if(user != null) {
					<a href="@routes.LoginController.logout()">Log Out</a>
				} else {
					<a href="@routes.LoginController.login()">Log In</a>
			</li>
} 
		</ul>
	    </div>
	</nav>


		<div class="col-sm-8">
		    <div class="midcol">
			@content
		    </div>
		</div>
		
	    </div>
	    <div class="row">
		<div class="col-sm-12">
		    <div class="well footer">
			Website created by ABC Sights
		    </div>
		</div>
	    </div>
	</div>
	<script src ="@routes.Assets.versioned("javascripts/main.js")"></script>
    </body>
</html>

